USE [master]
GO
/****** Object:  Database [webcaycanh]    Script Date: 8/28/2021 10:51:52 AM ******/
CREATE DATABASE [webcaycanh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'webcaycanh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\webcaycanh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'webcaycanh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\webcaycanh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [webcaycanh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [webcaycanh]
GO
/****** Object:  Schema [webcaycanh]    Script Date: 8/28/2021 10:51:53 AM ******/
CREATE SCHEMA [webcaycanh]
GO
/****** Object:  Table [webcaycanh].[tbl_category]    Script Date: 8/28/2021 10:51:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webcaycanh].[tbl_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[status] [binary](1) NULL,
	[updated_by] [int] NULL,
	[updated_date] [datetime2](6) NULL,
	[description] [nvarchar](100) NULL,
	[name] [nvarchar](255) NOT NULL,
	[seo] [nvarchar](100) NOT NULL,
	[parent_id] [int] NULL,
	[avatar] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_category_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [webcaycanh].[tbl_contact]    Script Date: 8/28/2021 10:51:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webcaycanh].[tbl_contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[status] [binary](1) NULL,
	[updated_by] [int] NULL,
	[updated_date] [datetime2](6) NULL,
	[email] [nvarchar](45) NOT NULL,
	[first_name] [nvarchar](45) NOT NULL,
	[last_name] [nvarchar](45) NOT NULL,
	[message] [nvarchar](1000) NOT NULL,
	[request_type] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_tbl_contact_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [webcaycanh].[tbl_product]    Script Date: 8/28/2021 10:51:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webcaycanh].[tbl_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[status] [binary](1) NULL,
	[updated_by] [int] NULL,
	[updated_date] [datetime2](6) NULL,
	[avatar] [nvarchar](200) NULL,
	[detail_description] [nvarchar](max) NOT NULL,
	[price] [decimal](13, 2) NULL,
	[price_sale] [decimal](19, 2) NULL,
	[seo] [nvarchar](1000) NULL,
	[short_description] [nvarchar](3000) NOT NULL,
	[title] [nvarchar](1000) NOT NULL,
	[category_id] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_tbl_product_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [webcaycanh].[tbl_products_images]    Script Date: 8/28/2021 10:51:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webcaycanh].[tbl_products_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[status] [binary](1) NULL,
	[updated_by] [int] NULL,
	[updated_date] [datetime2](6) NULL,
	[path] [nvarchar](200) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_products_images_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [webcaycanh].[tbl_saleorder]    Script Date: 8/28/2021 10:51:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webcaycanh].[tbl_saleorder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[status] [binary](1) NULL,
	[updated_by] [int] NULL,
	[updated_date] [datetime2](6) NULL,
	[code] [nvarchar](45) NOT NULL,
	[customer_address] [nvarchar](100) NULL,
	[customer_email] [nvarchar](100) NULL,
	[customer_name] [nvarchar](100) NULL,
	[customer_phone] [nvarchar](100) NULL,
	[seo] [nvarchar](1000) NULL,
	[total] [decimal](13, 2) NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_tbl_saleorder_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [webcaycanh].[tbl_saleorder_products]    Script Date: 8/28/2021 10:51:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webcaycanh].[tbl_saleorder_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[status] [binary](1) NULL,
	[updated_by] [int] NULL,
	[updated_date] [datetime2](6) NULL,
	[quality] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[saleorder_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_saleorder_products_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [webcaycanh].[tbl_user]    Script Date: 8/28/2021 10:51:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webcaycanh].[tbl_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NULL,
	[created_date] [datetime2](6) NULL,
	[status] [binary](1) NULL,
	[updated_by] [int] NULL,
	[updated_date] [datetime2](6) NULL,
	[email] [nvarchar](45) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[username] [nvarchar](45) NOT NULL,
	[role] [nvarchar](45) NOT NULL,
	[avatar] [nvarchar](200) NULL,
	[address] [nvarchar](200) NULL,
	[phone] [char](14) NULL,
	[fullname] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_user_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [webcaycanh].[tbl_category] ON 

INSERT [webcaycanh].[tbl_category] ([id], [created_by], [created_date], [status], [updated_by], [updated_date], [description], [name], [seo], [parent_id], [avatar]) VALUES (5, NULL, CAST(N'2021-08-25T00:00:00.0000000' AS DateTime2), NULL, NULL, CAST(N'2021-08-26T00:00:00.0000000' AS DateTime2), N'minh sama1', N'cây cảnh phong thủy', N'cây-cảnh-phong-thủy-1629990539892', NULL, N'cay-canh-phong-thuy-255x255.jpg')
INSERT [webcaycanh].[tbl_category] ([id], [created_by], [created_date], [status], [updated_by], [updated_date], [description], [name], [seo], [parent_id], [avatar]) VALUES (7, NULL, CAST(N'2021-08-25T00:00:00.0000000' AS DateTime2), NULL, NULL, CAST(N'2021-08-26T00:00:00.0000000' AS DateTime2), N'minh sama', N'cây cảnh trong nhà', N'cây-cảnh-trong-nhà-1629990624664', NULL, N'cay-canh-trong-nha-255x255.jpg')
INSERT [webcaycanh].[tbl_category] ([id], [created_by], [created_date], [status], [updated_by], [updated_date], [description], [name], [seo], [parent_id], [avatar]) VALUES (8, NULL, CAST(N'2021-08-25T00:00:00.0000000' AS DateTime2), NULL, NULL, CAST(N'2021-08-26T00:00:00.0000000' AS DateTime2), N'minh sama', N'cây cảnh để bàn', N'cây-cảnh-để-bàn-1629990631818', NULL, N'cay-canh-de-ban-255x255.jpg')
SET IDENTITY_INSERT [webcaycanh].[tbl_category] OFF
GO
SET IDENTITY_INSERT [webcaycanh].[tbl_product] ON 

SET IDENTITY_INSERT [webcaycanh].[tbl_product] OFF
GO
SET IDENTITY_INSERT [webcaycanh].[tbl_user] ON 

INSERT [webcaycanh].[tbl_user] ([id], [created_by], [created_date], [status], [updated_by], [updated_date], [email], [password], [username], [role], [avatar], [address], [phone], [fullname]) VALUES (3, NULL, NULL, NULL, NULL, NULL, N'minhsama2k@gmail.com', N'minhsama', N'minhsama2k', N'user', NULL, NULL, NULL, NULL)
INSERT [webcaycanh].[tbl_user] ([id], [created_by], [created_date], [status], [updated_by], [updated_date], [email], [password], [username], [role], [avatar], [address], [phone], [fullname]) VALUES (4, NULL, NULL, NULL, NULL, NULL, N'minhsama2000@gmail.com', N'minhsama', N'minhsama2000', N'admin', NULL, NULL, NULL, NULL)
INSERT [webcaycanh].[tbl_user] ([id], [created_by], [created_date], [status], [updated_by], [updated_date], [email], [password], [username], [role], [avatar], [address], [phone], [fullname]) VALUES (5, NULL, NULL, NULL, NULL, NULL, N'minhsama1@gmail.com', N'minh', N'sadsad', N'user', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [webcaycanh].[tbl_user] OFF
GO
/****** Object:  Index [FK6l2kfyw1kbyobvyqiwsrkc2g6]    Script Date: 8/28/2021 10:51:53 AM ******/
CREATE NONCLUSTERED INDEX [FK6l2kfyw1kbyobvyqiwsrkc2g6] ON [webcaycanh].[tbl_category]
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKl5l3hu2fh1ixbx8ejat9df13p]    Script Date: 8/28/2021 10:51:53 AM ******/
CREATE NONCLUSTERED INDEX [FKl5l3hu2fh1ixbx8ejat9df13p] ON [webcaycanh].[tbl_product]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKjac7pn534bktj4tvkxqvydglf]    Script Date: 8/28/2021 10:51:53 AM ******/
CREATE NONCLUSTERED INDEX [FKjac7pn534bktj4tvkxqvydglf] ON [webcaycanh].[tbl_products_images]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKbiu8ui4krw8j3gtn97w3rdq7v]    Script Date: 8/28/2021 10:51:53 AM ******/
CREATE NONCLUSTERED INDEX [FKbiu8ui4krw8j3gtn97w3rdq7v] ON [webcaycanh].[tbl_saleorder]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKnpyir3q973iv4wq49ltw0kcrd]    Script Date: 8/28/2021 10:51:53 AM ******/
CREATE NONCLUSTERED INDEX [FKnpyir3q973iv4wq49ltw0kcrd] ON [webcaycanh].[tbl_saleorder_products]
(
	[saleorder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FKnyfdau9vc46jkiwvrgj1ns85v]    Script Date: 8/28/2021 10:51:53 AM ******/
CREATE NONCLUSTERED INDEX [FKnyfdau9vc46jkiwvrgj1ns85v] ON [webcaycanh].[tbl_saleorder_products]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [webcaycanh].[tbl_category] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [webcaycanh].[tbl_category] ADD  DEFAULT (NULL) FOR [created_date]
GO
ALTER TABLE [webcaycanh].[tbl_category] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [webcaycanh].[tbl_category] ADD  DEFAULT (NULL) FOR [updated_by]
GO
ALTER TABLE [webcaycanh].[tbl_category] ADD  DEFAULT (NULL) FOR [updated_date]
GO
ALTER TABLE [webcaycanh].[tbl_category] ADD  DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [webcaycanh].[tbl_category] ADD  DEFAULT (NULL) FOR [parent_id]
GO
ALTER TABLE [webcaycanh].[tbl_contact] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [webcaycanh].[tbl_contact] ADD  DEFAULT (NULL) FOR [created_date]
GO
ALTER TABLE [webcaycanh].[tbl_contact] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [webcaycanh].[tbl_contact] ADD  DEFAULT (NULL) FOR [updated_by]
GO
ALTER TABLE [webcaycanh].[tbl_contact] ADD  DEFAULT (NULL) FOR [updated_date]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [created_date]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [updated_by]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [updated_date]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [avatar]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [price]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [price_sale]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [seo]
GO
ALTER TABLE [webcaycanh].[tbl_product] ADD  DEFAULT (NULL) FOR [category_id]
GO
ALTER TABLE [webcaycanh].[tbl_products_images] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [webcaycanh].[tbl_products_images] ADD  DEFAULT (NULL) FOR [created_date]
GO
ALTER TABLE [webcaycanh].[tbl_products_images] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [webcaycanh].[tbl_products_images] ADD  DEFAULT (NULL) FOR [updated_by]
GO
ALTER TABLE [webcaycanh].[tbl_products_images] ADD  DEFAULT (NULL) FOR [updated_date]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [created_date]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [updated_by]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [updated_date]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [customer_address]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [customer_email]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [customer_name]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [customer_phone]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [seo]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [total]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] ADD  DEFAULT (NULL) FOR [user_id]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products] ADD  DEFAULT (NULL) FOR [created_date]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products] ADD  DEFAULT (NULL) FOR [updated_by]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products] ADD  DEFAULT (NULL) FOR [updated_date]
GO
ALTER TABLE [webcaycanh].[tbl_user] ADD  DEFAULT (NULL) FOR [created_by]
GO
ALTER TABLE [webcaycanh].[tbl_user] ADD  DEFAULT (NULL) FOR [created_date]
GO
ALTER TABLE [webcaycanh].[tbl_user] ADD  DEFAULT (NULL) FOR [status]
GO
ALTER TABLE [webcaycanh].[tbl_user] ADD  DEFAULT (NULL) FOR [updated_by]
GO
ALTER TABLE [webcaycanh].[tbl_user] ADD  DEFAULT (NULL) FOR [updated_date]
GO
ALTER TABLE [webcaycanh].[tbl_category]  WITH CHECK ADD  CONSTRAINT [tbl_category$FK6l2kfyw1kbyobvyqiwsrkc2g6] FOREIGN KEY([parent_id])
REFERENCES [webcaycanh].[tbl_category] ([id])
GO
ALTER TABLE [webcaycanh].[tbl_category] CHECK CONSTRAINT [tbl_category$FK6l2kfyw1kbyobvyqiwsrkc2g6]
GO
ALTER TABLE [webcaycanh].[tbl_product]  WITH CHECK ADD  CONSTRAINT [tbl_product$FKl5l3hu2fh1ixbx8ejat9df13p] FOREIGN KEY([category_id])
REFERENCES [webcaycanh].[tbl_category] ([id])
GO
ALTER TABLE [webcaycanh].[tbl_product] CHECK CONSTRAINT [tbl_product$FKl5l3hu2fh1ixbx8ejat9df13p]
GO
ALTER TABLE [webcaycanh].[tbl_products_images]  WITH CHECK ADD  CONSTRAINT [tbl_products_images$FKjac7pn534bktj4tvkxqvydglf] FOREIGN KEY([product_id])
REFERENCES [webcaycanh].[tbl_product] ([id])
GO
ALTER TABLE [webcaycanh].[tbl_products_images] CHECK CONSTRAINT [tbl_products_images$FKjac7pn534bktj4tvkxqvydglf]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder]  WITH CHECK ADD  CONSTRAINT [tbl_saleorder$FKbiu8ui4krw8j3gtn97w3rdq7v] FOREIGN KEY([user_id])
REFERENCES [webcaycanh].[tbl_user] ([id])
GO
ALTER TABLE [webcaycanh].[tbl_saleorder] CHECK CONSTRAINT [tbl_saleorder$FKbiu8ui4krw8j3gtn97w3rdq7v]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products]  WITH CHECK ADD  CONSTRAINT [tbl_saleorder_products$FKnpyir3q973iv4wq49ltw0kcrd] FOREIGN KEY([saleorder_id])
REFERENCES [webcaycanh].[tbl_saleorder] ([id])
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products] CHECK CONSTRAINT [tbl_saleorder_products$FKnpyir3q973iv4wq49ltw0kcrd]
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products]  WITH CHECK ADD  CONSTRAINT [tbl_saleorder_products$FKnyfdau9vc46jkiwvrgj1ns85v] FOREIGN KEY([product_id])
REFERENCES [webcaycanh].[tbl_product] ([id])
GO
ALTER TABLE [webcaycanh].[tbl_saleorder_products] CHECK CONSTRAINT [tbl_saleorder_products$FKnyfdau9vc46jkiwvrgj1ns85v]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'webcaycanh.tbl_category' , @level0type=N'SCHEMA',@level0name=N'webcaycanh', @level1type=N'TABLE',@level1name=N'tbl_category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'webcaycanh.tbl_contact' , @level0type=N'SCHEMA',@level0name=N'webcaycanh', @level1type=N'TABLE',@level1name=N'tbl_contact'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'webcaycanh.tbl_product' , @level0type=N'SCHEMA',@level0name=N'webcaycanh', @level1type=N'TABLE',@level1name=N'tbl_product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'webcaycanh.tbl_products_images' , @level0type=N'SCHEMA',@level0name=N'webcaycanh', @level1type=N'TABLE',@level1name=N'tbl_products_images'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'webcaycanh.tbl_saleorder' , @level0type=N'SCHEMA',@level0name=N'webcaycanh', @level1type=N'TABLE',@level1name=N'tbl_saleorder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'webcaycanh.tbl_saleorder_products' , @level0type=N'SCHEMA',@level0name=N'webcaycanh', @level1type=N'TABLE',@level1name=N'tbl_saleorder_products'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'webcaycanh.tbl_user' , @level0type=N'SCHEMA',@level0name=N'webcaycanh', @level1type=N'TABLE',@level1name=N'tbl_user'
GO
USE [master]
GO
