
@{
    ViewBag.Title = "CreateNew";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}



<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">Sản phẩm mơi</div>
                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center title-2"></h3>
                            </div>
                            <hr />
                            <form action="/tbl_product/Create" method="post" enctype="multipart/form-data" novalidate="novalidate" onsubmit="return validateFormProduct()">
                                <div class="form-group">
                                    <label class="control-label mb-1">Chọn danh mục: </label>
                                    <div class="col-sm-5">
                                        <select id="selectCate" name="selectCate">
                                            @foreach (var item in ViewBag.categories)
                                            {
                                                <option value="@item.id">@item.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Tên sản phẩm: </label>
                                    <input id="title"
                                           name="title"
                                           type="text"
                                           class="form-control"
                                           aria-required="true"
                                           aria-invalid="false"
                                           placeholder="cây trong nhà" />
                                </div>

                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Giá</label>
                                    <input id="price"
                                           name="price"
                                           type="text"
                                           class="form-control"
                                           aria-required="true"
                                           aria-invalid="false"
                                           value="0"
                                           pattern="[0-9]"
                                           title="chỉ được ghi sô" />
                                    <span class="help-block field-validation-valid"
                                          data-valmsg-for="cc-name"
                                          data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Số lượng</label>
                                    <input id="quantity"
                                           name="quantity"
                                           type="text"
                                           class="form-control"
                                           aria-required="true"
                                           aria-invalid="false"
                                           value="0"
                                           pattern="[0-9]"
                                           title="chỉ được ghi sô" />
                                    <span class="help-block field-validation-valid"
                                          data-valmsg-for="cc-name"
                                          data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Khuyến mại</label>
                                    <input id="priceSale"
                                           name="priceSale"
                                           type="text"
                                           class="form-control"
                                           aria-required="true"
                                           aria-invalid="false"
                                           value="0"
                                           pattern="[0-9]"
                                           title="chỉ được ghi số" />
                                    <span class="help-block field-validation-valid"
                                          data-valmsg-for="cc-name"
                                          data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Mô tả ngắn</label>
                                    <input id="shortDescription"
                                           name="shortDescription"
                                           type="text"
                                           class="form-control"
                                           aria-required="true"
                                           aria-invalid="false"
                                           placeholder="cây đẹp" />
                                    <span class="help-block field-validation-valid"
                                          data-valmsg-for="cc-name"
                                          data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Mô tả chi tiết</label>
                                    <input id="detailDescription"
                                           name="detailDescription"
                                           type="text"
                                           class="form-control"
                                           aria-required="true"
                                           aria-invalid="false"
                                           placeholder="cây đẹp" />
                                    <span class="help-block field-validation-valid"
                                          data-valmsg-for="cc-name"
                                          data-valmsg-replace="true"></span>
                                </div>

                                <div class="form-control has-success">
                                    <label for="cc-name" class="control-label mb-1"></label>
                                    <img id="output" class="img-rounded" alt="" width="180" height="200" src="~/UploadFile/productImage/" />
                                    <p><label for="ufile" style="cursor:pointer">chọn file ảnh</label></p>
                                    <input name="ImageFile" id="ufile" type="file" style="display:none" onchange="loadFile(event)" />
                                </div>

                                <div>
                                    <button id="payment-button"
                                            type="submit"
                                            class="btn btn-lg btn-info btn-block">
                                        <span id="payment-button-amount">Submit</span>
                                        <span id="payment-button-sending"
                                              style="display: none">Sending…</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2018 Colorlib. All rights reserved. Template
                            by <a href="https://colorlib.com">Colorlib</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    }

    function validateFormProduct() {
        var numbers = /\d+/g;
        var title = document.getElementById("title").value;
        var price = document.getElementById("price").value;
        var priceSale = document.getElementById("priceSale").value;
        var priceSale = document.getElementById("quantity").value;
        var shortDescription = document.getElementById("shortDescription").value;
        if (title == "" || price == "" || priceSale == "" || shortDescription == "" ||
            !price.match(numbers) ||
            !priceSale.match(numbers) ||
            !quantity.match(numbers)) {
            alert("du lieu khong hop le");
        } else {
            return true;
        }
        return false;
    }
</script>
