
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";   
}


<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Content/Client/login/fonts/icomoon/style.css">

<link rel="stylesheet" href="~/Content/Client/login/css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/Content/Client/login/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="~/Content/Client/login/css/style.css">

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <!-- <div class="col-md-6 order-md-2">
              <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div> -->
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Đăng kí </h3>
                            </div>
                            @if (ViewBag.message != null)
                            {
                                <div class="alert alert-danger">
                                    <p class="mb-4" role="alert">
                                        @ViewBag.message
                                    </p>
                                </div>
                            }
                        <form action="/Client/UserRegister" method="post" onsubmit="return validateRegister()">
                            <div class="form-group first">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email">

                            </div>
                            <div class="form-group first">
                                <label for="phone">Số điện thoại</label>
                                <input type="text" class="form-control" name="phone" id="phone">

                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <input type="text" class="form-control" name="address" id="address">

                            </div>
                            <div class="form-group first">
                                <label for="username">Tài khoản</label>
                                <input type="text" class="form-control" name="username" id="username">

                            </div>
                            <div class="form-group last mb-4">
                                <label for="password">Mật khẩu</label>
                                <input type="password" class="form-control" name="password" id="password">

                            </div>

                            <div class="form-group last mb-4">
                                <label for="password">Nhập lại</label>
                                <input type="password"
                                       class="form-control"
                                       id="againPassword" name="againPassword" />
                            </div>

                            <input type="submit" value="Đăng kí" class="btn btn-pill text-white btn-block btn-primary">

                            <span class="d-block text-center my-4 text-muted"> hoặc đăng nhập với</span>

                            <div class="social-login text-center">
                                <a href="#" class="facebook">
                                    <span class="icon-facebook mr-3"></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class="icon-twitter mr-3"></span>
                                </a>
                                <a href="#" class="google">
                                    <span class="icon-google mr-3"></span>
                                </a>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<script src="~/Content/Client/login/js/popper.min.js"></script>
<script src="~/Content/Client/login/js/main.js"></script>

